* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #faebd1;
  color: #2c2930;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #d6b3a2;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: #782b42;
}
nav ul li a:hover {
  color: lavenderblush;
  font-size: 1.04rem;
}
.left {
  font-size: 30px;
}

.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 120px 0;
}
.firstsection > div {
  width: 30%;
}
.leftsection {
  font-size: 2rem;
  color: black;
}
.leftsection .btn {
  padding: 12px;
  background-color: #782b42;
  color: #d6b3a2;
  border: 3px solid;
  border-radius: 23px;
  font-size: 14px;
  cursor: pointer;
}
.leftsection .btn:hover {
  color: white;
}
.leftsection .buttons {
  padding: 63px 0;
}
.rightsection img {
  width: 450px;
  margin: 10px 0;
}
.purple {
  color: #782b42;
}
.h6 {
  font-size: 25px;
}
#element {
  color: #782b42;
}
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
main hr {
  border: 0;
  background-color: #782b42;
  height: 1.2px;
  margin: 62px 50px;
}
.secondsection .h1 {
  font-size: 1.9rem;
}
.text-gray {
  color: #ad5653;
}
.secondsection .box {
  background-color: #ca817f;
  width: 87vw;
  height: 2px;
  margin: 56px 0;
  display: flex;
}

.img-top {
  width: 30px;
  position: relative;
  top: -37px;
  left: -2px;
}
footer {
  background-color: #d6b3a2;
  height: 180px;
}
.footer {
  display: flex;
  padding: 23px 122px;
  justify-content: space-evenly;
}
.footer,
.footer-first {
  right: 10%;
  position: relative;
}
.footer ul {
  list-style: none;
}
.footer > div {
  width: 223px;
}
footer .footer-right {
  text-align: center;
  color: #782b42;
  padding: 12px 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.socialMedia {
  display: flex;
  align-items: center;
  gap: 50px;
}

.socialMedia a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 15px;
}

.socialMedia img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.socialMedia :hover {
  color: white;
}
